.footer {
  background-color: #8f57fd;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
}

.footer a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding-left: 30px;
}

.footer a:hover {
  text-decoration: underline;
}