.info__container {
  background: linear-gradient(#21c08b, #ab88ff);
  width: 100%;
  min-height: calc(100vh - 200px);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.info__container--important {
  font-size: 100px;
  margin: 0;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: pulse;
  animation-duration: 1s;
}

.info__container--message {
  margin: 0;
}